<template>
  <img class='cover' :src="makeMediaUrl(src)" alt="" :style="{width, height}">
</template>

<script>
import { makeMediaUrl } from '@/utils';

export default {
  name: "AlbumCover",
  props: ['src', 'height', 'width'],
  methods: {
    makeMediaUrl
  }
}
</script>

<style scoped>
.cover {
  border: #6283b8 solid 3px;
  width: 400px;
  height: 400px;
}

</style>
