<template>
  <ul class="navbar">
    <li>
      <router-link @click="loadRandomAlbum" :to="{name: 'random'}">Случайный альбом</router-link>
    </li>
    <li v-if="!isAuthenticated">
      <router-link :to="{name: 'register'}">Регистрация</router-link>
    </li>
    <li v-if="!isAuthenticated">
      <router-link :to="{name: 'login'}">Вход</router-link>
    </li>
    <li v-if="isAuthenticated"><a href="" @click.prevent="logout">Выход</a></li>
    <li v-if="isAuthenticated">
      <router-link  :to="{name: 'likes'}">{{ username }}</router-link>
    </li>
  </ul>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: "NavigationBar",
  computed: {
    ...mapState('auth', ['username', 'isAuthenticated']),
  },
  methods: {
    ...mapActions('albums', ['loadRandomAlbum']),
    logout() {
      this.$store.commit('auth/dropTokens')
    },
  }
}
</script>

<style scoped>

.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height: 3vw;
  top: 0;
  left: 0;
  background-color: #fae9b0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left: 1rem;
}


</style>
