<template>
  <div v-if="id">
    <h1>{{ name }}</h1>
    <album-cover :src="cover"></album-cover>
    <ul>
      <li v-for="bond in children" :key="bond.id">
        <router-link :to="{name: 'album', params: {id: bond.album_id}}">{{ bond.tag }}</router-link>
      </li>
    </ul>
    <div v-if="isAuthenticated">
      <span @click="likeAlbum" v-if="!liked">Нравится</span>
      <span @click="dislikeAlbum" v-else>Больше не нравится</span>
    </div>
    <audio-player
        v-for="track in tracks"
        :key="track.name"
        :src="track.file"
        :label="track.name"
        :duration="track.duration"
    ></audio-player>
  </div>
</template>

<script>
import AlbumCover from '@/components/album/AlbumCover';
import { mapState } from 'vuex';

export default {
  name: 'AlbumDetail',
  components: {
    'album-cover': AlbumCover,
  },
  computed: {
    ...mapState('albums', ['id', 'name', 'cover', 'tracks', 'children', 'liked']),
    ...mapState('auth', ['isAuthenticated']),
  },
  methods: {
    loadAlbum(id) {
      if (id) {
        this.$store.dispatch('albums/loadAlbum', { id })
      } else {
        this.$store.dispatch('albums/loadRandomAlbum')
      }
    },
    likeAlbum() {
      this.$store.dispatch('albums/likeAlbum', { id: this.id })
    },
    dislikeAlbum() {
      this.$store.dispatch('albums/dislikeAlbum', { id: this.id })
    },
  },
  created() {
    const id = this.$route.params.id
    this.loadAlbum(id)
  },
  beforeRouteLeave(to, from, next) {
    const id = to.params.id
    this.loadAlbum(id)
    next()
  },
  beforeRouteUpdate(to, from, next) {
    const id = to.params.id
    this.loadAlbum(id)
    next()
  }

}
</script>

<style scoped>

</style>
