<template>
  <h1>Понравившиеся альбомы</h1>
  <div v-for="album in likedAlbums" :key="album.id">
    <router-link :to="{name: 'album', params: {id: album.id}}">
      <div class="liked-album">
        <album-cover :src="album.cover" height="250px" width="250px"></album-cover>
        <h3>{{ album.name }}</h3>
      </div>
    </router-link>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import AlbumCover from '@/components/album/AlbumCover';

export default {
  name: "LikedAlbums",
  components: {
    'album-cover': AlbumCover
  },
  computed: {
    ...mapState('albums', ['likedAlbums']),
    ...mapState('auth', ['isAuthenticated']),
  },
  created() {
    this.$store.dispatch('albums/loadLikedAlbums')
  },
}
</script>

<style scoped>
.liked-album {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

</style>
