<template>
  <form @submit.prevent="submit">
    <p>
      <label for="username">Имя</label>
      <input type="text" id="username" v-model="username">
    </p>
    <p>
      <label for="email">E-mail</label>
      <input type="text" id="email" v-model="email">
    </p>
    <p>
      <label for="password">Пароль</label>
      <input type="password" id="password" v-model="password">
    </p>
    <p>
      <label for="password2">Повторите пароль</label>
      <input type="password" id="password2" v-model="password2">
    </p>
    <p>
      <input type="submit" value="Зарегистрироваться">
    </p>
  </form>
</template>

<script>

import { mapState } from 'vuex';

export default {
  name: "UserRegistration",
  data() {
    return {
      username: '',
      email: '',
      password: '',
      password2: '',
    }
  },
  computed: {
    ...mapState('auth', ['isAuthenticated'])
  },
  methods: {
    submit() {
      this.$store.dispatch('auth/register', {
        username: this.username,
        email: this.email,
        password: this.password,
        password2: this.password2,
      })
    }
  },
  created() {
    if (this.isAuthenticated === true) {
      this.$router.push('/')
    }
  },
}
</script>

<style scoped>

</style>
