<template>
  <form @submit.prevent="login">
    <p>
      <label for="username">Имя</label>
      <input type="text" id="username" v-model="username">
    </p>
    <p>
      <label for="password">Пароль</label>
      <input type="password" id="password" v-model="password">
    </p>
    <p>
      <input type="submit" value="Войти">
    </p>
  </form>

</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'UserLogin',
  data() {
    return {
      username: '',
      password: '',
    }
  },
  computed: {
    ...mapState('auth', ['isAuthenticated'])
  },
  watch: {
    isAuthenticated(val) {
      if (val === true)
        this.$router.push('/')
    }
  },
  methods: {
    login() {
      this.$store.dispatch('auth/login', {
        username: this.username,
        password: this.password,
      })
    }
  },

  created() {
    if (this.isAuthenticated === true) {
      this.$router.push('/')
    }
  },
}
</script>

<style scoped>

</style>
