<template>
  <div>
    <button @click="togglePlay" :disabled="!!disabled" class="playButton inline">
      <img :src="'../../assets/player/' + (isPlaying ? 'pause.png' : 'play.png')" alt="">
    </button>
    <p class="inline">{{ label }} {{ formattedCurrentTime }} / {{ formattedDuration }}</p>
    <div @click="seek" class="progressbar inline" ref="progressbar">
      <span :style="{width: playProgress + '%'}"></span>
    </div>
  </div>
</template>

<script>
import { makeMediaUrl } from '@/utils';
import { formatTrackTime } from './utils';

const statuses = {
  playing: 'playing',
  stopped: 'stopped',
}

export default {
  name: 'MusicPlayer.vue',
  props: ['src', 'label', 'duration'],
  data() {
    return {
      audio: null,
      loaded: false,
      currentTime: 0,
      status: statuses.stopped,
      disabled: false,
    }
  },
  computed: {
    formattedDuration() {
      return formatTrackTime(this.duration)
    },
    formattedCurrentTime() {
      return formatTrackTime(this.currentTime)
    },
    isPlaying() {
      return this.status === statuses.playing
    },
    playProgress() {
      return this.currentTime / this.duration * 100
    },
  },
  methods: {
    load() {
      const audio = this.audio = new Audio(makeMediaUrl(this.src))
      this.loaded = true

      audio.addEventListener('canplay', () => {
        this.disabled = false
      }, {
        once: true
      })

      audio.addEventListener('timeupdate', () => {
        this.currentTime = audio.currentTime
      })
    },
    play() {
      if (!this.loaded) {
        this.load()
      }
      this.audio.play()
      this.status = statuses.playing
    },
    pause() {
      this.audio.pause()
      this.status = statuses.stopped
    },
    togglePlay() {
      !this.loaded || this.audio.paused ? this.play() : this.pause()
    },
    seek(ev) {
      const progressbar = this.$refs.progressbar
      const progressbarRect = progressbar.getBoundingClientRect()
      const progress = (ev.screenX - progressbarRect.left) / progressbarRect.width

      const time = Math.round(this.duration * progress)

      const paused = this.audio.paused

      if (!paused) {
        this.audio.pause()
        this.audio.currentTime = time

        this.audio.addEventListener('canplay', () => {
          this.audio.currentTime = time
          this.audio.play()
        }, {
          once: true,
        })
      } else {
        this.audio.currentTime = time
      }
    }
  },
  mounted() {
  }
}
</script>

<style scoped>
.inline {
  display: inline-block;
  margin-right: 10px;
}

.playButton, .playButton > img {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
}

.progressbar {
  width: 100%;
  height: 0.5rem;
  background-color: indianred;
}

.progressbar > span {
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: darkred;
  transition: width 0.35s ease;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
