<template>
  <navigation-bar></navigation-bar>
  <div class="container">
    <router-view></router-view>
  </div>
</template>

<script>

import { loadTokens } from '@/auth';

export default {
  name: 'App',
  created() {
    const tokens = loadTokens()
    if (tokens && tokens.access && tokens.refresh) {
      this.$store.dispatch('auth/initAuth', tokens)
    }
  }
}
</script>

<style>
@font-face {
  font-family: 'ropasoftpro';
  src: url("../public/ropasoftpro-regular.otf") ;
}

body {
  background-color: #fff3cb;
  font-family: 'ropasoftpro';
  margin: 0;
}

.container {
  width: 50%;
  margin: auto;
}

h1 {
  font-weight: bold;
}
</style>
